[tool.poetry]
name = "graia-broadcast"
version = "0.0.1"
description = "a highly customizable, elegantly designed event system based on asyncio"
authors = ["Chenwe_i_lin <Chenwe_i_lin@outlook.com>"]
license = "AGPL-3.0"
packages = [
    { include = "graia.broadcast", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.6"
iterwrapper = "^0.1.2"
pydantic = "^1.5.1"

[tool.poetry.dev-dependencies]
pylint = "^2.5.3"
bandit = "^1.6.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
