[tool.poetry]
name = "graia-broadcast"
version = "0.13.1"
description = "a highly customizable, elegantly designed event system based on asyncio"
authors = ["GreyElaina <GreyElaina@outlook.com>"]
license = "MIT"
packages = [
    { include = "graia", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = "^3.10.0"


[tool.poetry.dev-dependencies]
black = "^20.8b1"
pre-commit = "*"
flake8 = "^3.9.2"
isort = "^5.9.3"
yappi = "^1.3.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
