[tool.poetry]
name = "graia-broadcast"
version = "0.15.1"
description = "a highly customizable, elegantly designed event system based on asyncio"
authors = ["GreyElaina <GreyElaina@outlook.com>"]
license = "MIT"
packages = [{ include = "graia", from = "src" }]

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = { version = "^3.10.0", python = "~3.7" }

[tool.black]
line-length = 120

[tool.poetry.dev-dependencies]
black = "^20.8b1"
pre-commit = "*"
flake8 = "^3.9.2"
isort = "^5.9.3"
yappi = "^1.3.2"
pyinstrument = "^4.0.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[[tool.poetry.source]]
name = "tunapypi"
default = true
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"